
*
{
    box-sizing: border-box;
}

html
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 10px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.panda
{
    background-color: black;
    width: 16rem;
    height:16rem ;
    position: relative;
    border-radius: 50%;
}

.panda .ear-left
{
    position: absolute;
    top:-1.2rem;
    left:0;
    width: 4.3rem;
    height: 6rem;
    background-color: black;
    border-radius:50%;

}

.panda .ear-right
{
    position: absolute;
    top:-1.2rem;
    right:0;
    width: 4.3rem;
    height: 6rem;
    background-color: black;
    border-radius: 50%;
}

.l-eye
{
    position: absolute;
    top:4.2rem;
    left:1.2rem;
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 50%;
}

.r-eye
{
    position: absolute;
    top:4.2rem;
    right:1.2rem;
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 50%;
}

.nose
{
    position: absolute;
    top:8.2rem;
    left: 7.5rem;
    width: 10px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}

.mouth
{
    position: absolute;
    top:12.2rem;
    left: 50%;
    width: 6rem;
    height: 4px;
    border: 2px solid transparent;
    border-radius: 0 0 50% 50%;
    transform: translate(-50%);
    border-bottom: 10px solid white;
    border-top: 8px solid white;
}

.eye-roll
{
    position: absolute;
    top:20px;
    left:20px;
    width: 15px;
    height: 14px;
    background-color:black;
    border-radius: 50%;
    transform-origin: center left;
}

