*,
::before,
::after
{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}

html{
    font-size:10px;
    font-family: 'Roboto',sans-serif;
}

:root{
    --background-color:linear-gradient(60deg,#5ff281,#5f86f2,#a65ff2,#f25f60,#f25f61,#f2cb5f) 0 50%;
    --background-size:300% 300%;
    --animation-properties:alternate-gradient 5s alternate infinite;
}

body{
    
background:#151515;
}
section{
    padding: 0 5rem;
}
.container
{
    width:100%;
    max-width: 120rem;
    margin:0 auto;
    padding: 0 1.5rem;
}
.pricing-table{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap:2.5rem;
    padding: 2rem;
}
.table-item{
    font-size:2.5rem;
    text-transform: uppercase;
    text-align: center;
    color:#c2c2c2;
    padding: 2rem;
    position: relative;
    z-index:1;
}

.table-item::before,
.table-item::after{
    content:'';
    position: absolute;
}

.table-item::before{
    background-color: #151515;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}

.table-item::after{
   background:var(--background-color);
   animation: var(--animation-properties);
    top:-2px;
    left:-2px;
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    z-index: -2;
}
.table-item i{
    font-size:10rem;
    margin-bottom: 4rem;
    padding:1rem;
    
    background: var(--background-color);
    animation: var(--animation-properties);
    background-size: var(--background-size);
    -webkit-background-clip: text;
    color:transparent;
}
.subscription-type
{
letter-spacing: 1px;
background: var(--background-color);
animation: var(--animation-properties);
background-size: var(--background-size);
-webkit-background-clip: text;
color:transparent;
}

.features-list
{
    list-style: none;
    margin:1rem 0;
    letter-spacing: 1px;
}
.features-item
{
    border-top:1px solid rgba(255,255,255,0.1);
    font-size: 1.3rem;
    line-height: 1.3;
    padding:1.5rem 0;
}
.features-item:last-child
{
    border-bottom:1px solid rgba(255,255,255,0.1);
}
.subscription-price
{
    display: block;
    font-size:2.5rem;
}
.cta{
    display: inline-block;
    text-decoration: none;
    color:#c2c2c2;
    border:1px solid rgba(255,255,255,.1);
    border-radius: 2rem;
    padding:1rem 3rem;
    margin-top: 1.5rem;
}
.cta:hover{
    background:linear-gradient(60deg,#a65ff2,#f25fd0,#f25f61) 0 50%;
    border: none;
    color:#fff;
}
@keyframes alternate-gradient
{

    50%{
        background-position: 100% 50%;
    }
}