@import url('https://fonts.google.com/specimen/Kumbh+Sans');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
   
    font-size: 10px;
    font-family:'Kumbh Sans',sans-serif;
    height: 100%;
}
body
{
    margin: 0 auto;
}

.container
{
    display: flex;
    justify-content: center;
}

.search
{
    width: 50%;
    padding: 8rem 0;
    text-align: center;
}
h1
{
    text-align: center;
    font-size: 30px;

}
button
{
   font-size: 1.5rem;
   cursor: pointer;
   padding: 10px;
   border-radius: 16px;
   outline: none;
   color: white;
   background-color: rgb(39,167,69);
}
#textInput
{
    width: 100%;
    height: 20rem;
    margin: .5rem 0;
    font-size: 1.5rem;
}

#data-table
{
    font-size: 2rem;

}
table
{
    margin: 0 auto;
    padding: 1rem;
}
tr{

}

th {
    border: 1px solid grey;
    padding: 0.5rem 0.5rem;
    text-align: left;
    background-color: grey;
    color: white;
  }
  td
  {
      padding: 0.3rem 0.3rem;
  }